---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%} {{ content }} {%- if site.posts.size > 0 -%}
  <!-- <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2> -->
  <!-- <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul> -->

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
  {%- endif -%}

  <div class="home__total-post-list">
    <button class="home__total-post-list--total-button">전체보기</button>
    <span class="home__total-post-list--total-count"
      >{{ site.posts.size }} 개의 글</span
    >
    <div class="home__total-post-list--total-lable">
      <span>글 제목</span> <span>작성일</span>
    </div>
    {%- for post in site.posts -%}
    <div class="home__post">
      <a class="home__post--title" href="{{ post.url | relative_url }}">
        {{ post.title | escape }}
      </a>
      <span class="home__post--date">{{ post.date | date: date_format }}</span>
    </div>
    {%- endfor -%}
  </div>
</div>
